[submodule "components/esp-idf-littlevgl"]
	path = components/esp-idf-littlevgl
	url = git@github.com:pawcio50501/esp-idf-littlevgl.git
[submodule "components/examples/lv_examples"]
	path = components/examples/lv_examples
	url = git@github.com:pawcio50501/lv_examples.git
